
<link href="app/style/inner/order.css" rel="stylesheet" />

<div class="px-4 my-4 topbar">
    <div class="row">
        <div class="col-2 d-flex">
            <a class="m-auto d-block" data-bind="attr: { href: back.link }, html: back.html"></a>
        </div>
        <div class="col-10 d-flex text-left">
            <h3 class="my-auto" data-bind="text: title"></h3>
        </div>
    </div>
</div>
<hr class="mt-0" />
<br />

<div class="container px-4 mx-3 w-auto">

    <h6 class="font-weight-light text-uppercase color-green mb-0">
        Produtor
    </h6>
    <h4 class="font-weight-normal mb-0" data-bind="text: produtor"></h4>

    <br />

    <h6 class="font-weight-light text-uppercase color-green mb-0">
        Pedido
    </h6>
    <div>
        <table class="table total w-100">
            <tbody class="w-100" data-bind="foreach: products">
                <tr class="row w-100 m-0" data-bind="visible: active()">
                    <td class="text-left col-4" data-bind="text: name"></td>
                    <td class="text-center col-4"><span data-bind="text: amount"></span><span data-bind="text: unit"></span></td>
                    <td class="text-right col-4 font-weight-bold" data-bind="text: getStrMoney(amountPrice())">
                    </td>
                </tr>
            </tbody>
        </table>

        <hr class="my-1" />

        <table class="table total w-100 mb-2">
            <tbody class="w-100" data-bind="foreach: totalTable">
                <tr class="row w-100 m-0">
                    <td class="text-left col-8" data-bind="text: text"></td>
                    <td class="text-right col-4" data-bind="text: value, class: className"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />

    <h6 class="font-weight-light text-uppercase color-green mb-0">
        Endereço de Entrega
    </h6>
    <div class="row editables mt-1">
        <div class="col-9">
            <span class="m-0" data-bind="text: deliveryAddress()" id="address"></span>
        </div>
        <div class="col-3 d-flex">
            <span class="edit m-auto" data-toggle="modal" data-target="#editAddress"></span>
        </div>
    </div>

    <br />

    <h6 class="font-weight-light text-uppercase color-green mb-0">
        Pagamento
    </h6>
    <div class="row editables mt-1">
        <div class="col-8">
            <!--<span class="m-0" data-bind="text: payment()" id="payment"></span>-->
            <select class="custom-select" id="paymentSelect">
                <option value="MB Way" selected>MB Way</option>
                <option value="PayPal">PayPal</option>
                <option value="Estafeta">Na hora da entrega</option>
            </select>
        </div>
        <div class="d-flex">
            <!--<span class="edit m-auto" data-toggle="modal" data-target="#editPayment"></span>-->
        </div>
    </div>

    <br />

    <h6 class="font-weight-light text-uppercase color-green mb-0">
        Prazo de Entrega
    </h6>
    <h4 class="font-weight-normal mb-0" data-bind="text: prazo"></h4>

</div>

<div class="container fixed-bottom px-4 py-2 w-auto border-top">

    <a class="btn btn-primary text-uppercase" data-bind="text: upperBtn.text, attr: { href: upperBtn.link }"></a>
    <a class="btn btn-outline-secondary text-uppercase" data-bind="text: lowerBtn.text, attr: { href: lowerBtn.link }"></a>
</div>
