
<link href="app/style/inner/payment.css" rel="stylesheet" />

<div class="px-4 my-4 topbar animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-2 d-flex">
            <a class="m-auto d-block" data-bind="attr: { href: back.link }, html: back.html"></a>
        </div>
        <div class="col-10 d-flex text-left">
            <h3 class="my-auto" data-bind="text: title"></h3>
        </div>
    </div>
</div>
<hr class="mt-0" />
<br />

<div class="container mx-3 w-auto animate__animated animate__fadeIn">

    <div class="" data-bind="foreach: methods">
        <a class="row method mx-0 mt-3 p-3">
            <div class="col-3 d-flex">
                <img class="m-auto px-1" data-bind="attr: { src: logo, alt: name }" />
            </div>
            <div class="col-7 d-flex">
                <div class="my-auto">
                    <h3 class="font-weight-normal mb-0" data-bind="text: name"></h3>
                    <span class="account" data-bind="text: account, css: { 'color-green': active }"></span>
                </div>
            </div>
            <div class="col-2 p-0 d-flex">
                <span class="m-auto" data-bind="class: (!active) ? 'arrow-right-dark' : 'edit' "></span>
            </div>
        </a>
    </div>
</div>