.innerNavFL {
    background: #fff;
    border-top: 1px solid #eee;
}

.innerNavFL img {
    height: 27px;
}

.innerNavFL a {
    /*margin: 0;*/
}

.innerNavFL ul {
    margin-bottom: 0;
}

.innerNavFL .active path {
    stroke: #999;
}