html {
    overflow-y: scroll;
}

.fa-cog {
    color: white;
}

.btn {
    display: block;
    width: 100%;
    padding: 6px 12px;
    border-radius: 2px;
    margin: 10px 0;
    font-size: 19px;
}

.btn-primary {
    background: #00A417;
    border: #00A417;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: #00cc1d !important;
}

.arrow-left {
    position: relative;
    content: url("../../images/icons/arrow-left.svg");
}

hr {
    border-top: 1px solid #BBB;
}