html {
    overflow-y: scroll;
}

.fa-cog {
    color: white;
}

.color-green {
    color: #00A417;
}

.btn {
    display: block;
    width: 100%;
    padding: 6px 12px;
    border-radius: 2px;
    margin: 10px 0;
    font-size: 19px;
}

.btn-primary {
    background: #00A417;
    border: #00A417;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: #00cc1d !important;
}

.arrow-left {
    position: relative;
    content: url("../../images/icons/arrow-left.svg");
}

.edit {
    position: relative;
    content: url("../../images/icons/edit.svg");
}

hr {
    border-top: 1px solid #BBB;
}

.border-top {
    border-top: 1px solid #BBB !important;
}

.leaf {
    content: url('../../../images/icons/leaf.svg');
}

.leaf:active,
.leaf:hover,
.leaf:focus {
    content: url('../../../images/icons/leaf-active.svg');
}

.comment {
    content: url('../../../images/icons/comment.svg');
}

.star {
    content: url('../../../images/icons/star.svg');
}

.star:active,
.star:hover,
.star:focus {
    content: url('../../../images/icons/star-active.svg');
}

.plus-green {
    content: url("../../images/icons/plus-green.svg");
    display: block;
    height: 25px;
    width: 25px;
}

.x-red {
    content: url("../../images/icons/x-red.svg");
    display: block;
    height: 22px;
    width: 22px;
}

button:focus,
input:focus {
    outline: none;
}

.editSets {
    /*display: flex;*/
}

.editSets .modal-dialog {
    width: 90%;
    margin: 50% auto;
}

input { 
    font-size: 19px !important;
    background: #fff;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 2px;
}

.editSets span {
    display: block;
    font-size: 18px !important;
    background: rgba(0, 164, 23, 0.05);
    padding: 5px 10px;
    border-radius: 2px;
}

.editSets select {
    font-size: 18px !important;
    border: solid 1px #ccc;
    border-radius: 2px;
}