.toggleLink {
}

.toggleLink span {
    color: #444;
}

.homeNav {
    padding-top: 20px;
    z-index: 100;
}

.homeNav .navbar-toggler {
    z-index: 120;
    outline: none !important;
    border: none;
}

.homeNav .navbar-toggler img {
    height: 50px;
}

.homeNav .navbar-collapse {
    z-index: 100;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    padding-top: 80px;
    width: 75%;
    height: 100%;
    -webkit-box-shadow: 2px 0px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 0px 6px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 0px 6px 0px rgba(0,0,0,0.3);
}

.homeNav .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
}

.homeNav .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
}

.homeNav .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
}

.nav-icon {
    padding-top: 5px;
}

.posts .post-top .profile {
    font-size: 19px;
}

.posts .post-image {
    width: 100% !important;
}

.posts .post-image .image {
    width: 100%!important;
    position: relative;
}

.posts .post-price {
    position: absolute;
    top: 20px;
    right: 20px;
} 

.posts .post-price span {
    padding: 5px 15px;
    font-size: 19px;
    background: rgba(255, 255, 255, 0.9);
}

.posts .image .card-body {
    padding: 0;
}

.posts .image .action {
    display: flex;
    width: 100%;
    height: 100%;
}

.posts .image .action a {
    padding: 7px 20px;
    margin: auto;
    text-transform: uppercase;
    font-size: 18px;
}

.posts .image .action a img {
    vertical-align: initial;
}

.post-content {
    font-size: 15px;
}

.home {
    z-index: 0;
}