.topbar > div {

}

.innerNavFL {
    display: none !important;
}

.accordion .card {
    border:none;
}

.accordion .card-header {
    background-color: rgba(255, 255, 255, 0) !important;
}

.accordion .card-body {
    font-size: 18px;
}

.productHeader {
    background: none;
    border: none;
    width: 100%;
}

.productImg img {
    width: 100%;
    border-radius: 5px;
}

.productTxt {
    margin: auto;
    text-align: left
}

.productTxt .price {
    font-weight: bold;
}

.productBtn {
    margin: auto;
}

.amount {
    display: block;
    margin: 0 0 10px;
    font-size: 18px;
}

.amount input {
    width: 50px;
    font-size: 16px !important;
}

.total.table {
    width: auto;
    margin: auto;
    margin-bottom: 0 !important;
}

.total.table td,
.total.table th {
    font-size: 20px;
    border-top: none;
    padding: 0.25rem 0.75rem;
}

.total.table tr td:first-child {
    padding-left: 0;
}

.total.table tr td:last-child {
    padding-right: 0;
}

.total.table .label {
    text-transform: uppercase;
}

/*.collapsed .amount {
    display: none;
}*/

.editables {
    font-size: 18px !important;
}

.editables select {
    font-size: 19px !important;
}

.editables select option {
    font-size: 19px !important;
}

.editables p,
.editables span {
    line-height: 1.1em;
}

.desc p {
    font-size: 22px;
}