.topbar > div {

}

.innerNavFL {
    display: none !important;
}

.accordion .card {
    border:none;
}

.accordion .card-header {
    background-color: rgba(255, 255, 255, 0) !important;
}

.accordion .card-body {
    font-size: 18px;
}

.productHeader {
    background: none;
    border: none;
    width: 100%;
}

.productImg img {
    width: 100%;
    border-radius: 5px;
}

.productTxt {
    margin: auto;
    text-align: left
}

.productTxt .price {
    font-weight: bold;
}

.productBtn {
    margin: auto;
}

.amount {
    display: block;
    margin: 0 0 10px;
    font-size: 18px;
}

.amount input {
    width: 50px;
    font-size: 16px !important;
}

.total.table {
    width: auto;
    margin: auto;
    margin-bottom: 0 !important;
}

.total.table td,
.total.table th {
    font-size: 20px;
    border-top: none;
    padding: 0.25rem 0.75rem;
}

.total.table tr td:first-child {
    padding-left: 0;
}

.total.table tr td:last-child {
    padding-right: 0;
}

.total.table .label {
    text-transform: uppercase;
}

/*.collapsed .amount {
    display: none;
}*/

.editables {
    font-size: 18px !important;
}

.editables select {
    font-size: 19px !important;
}

.editables select option {
    font-size: 19px !important;
}

.editables p,
.editables span {
    line-height: 1.1em;
}

.desc p {
    font-size: 22px;
}

.btn {
    box-shadow: none !important;
}

.pedidos .collapsed .arrow {
    position: relative;
    content: url("../../../images/icons/arrow-down.svg");
}

.pedidos .arrow {
    position: relative;
    content: url("../../../images/icons/arrow-up.svg");
}

.pedidos .card-header {
    padding: 0;
    border: none !important;
}

.pedidos a.collapsed {
    background: #fff !important;
}

.pedidos .card-header a {
    margin: 0;
    background: #f8f8f8;
    border-bottom: 2px solid #999;
    /*padding: 20px 40px;*/
}


.rating > [id^="star"] {
    display: none
}

.rating > label {
    margin: 5px 0px;
    font-size: 1.5em;
    display: inline-block;
    /*content: "\f005"*/
    width: 20px;
    content: url("../../../images/icons/leaf.svg");
}

.rating > [id^="star"]:checked + label:hover,
.rating > [id^="star"]:checked ~ label:hover,
.rating > label:hover ~ [id^="star"]:checked ~ label,
.rating > [id^="star"]:checked ~ label:hover ~ label {
    /*color: #ffcd00;*/
    content: url("../../../images/icons/leaf-active.svg");
}