.method {
    background-color: #fafafa;
    color: #121212;

    border-radius: 2px;
    border: 1px solid #eee;
}

.method img {
    width: 100%;
}

.method:hover,
.method:active,
.method:focus {
    color: inherit;
    background-color: #f0f0f0;
}

.method .active {
    font-weight: bold;
}

.method .account {
    font-size: 16px;
}