#mainDiv {
    text-align: center;
    padding: 15px 20px;
}

#mapDiv {
}

#src-logo {
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
}

.inputBox {
    box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputBox::placeholder {
    color: #999;
}

.mapAPIFrame {
    height: 700px;
}
