
<link href="app/style/inner.css" rel="stylesheet" />

<div class="page-host animate__animated animate__fadeIn" data-bind="router"></div>

<nav class="innerNavFL fixed-bottom d-flex" role="navigation">
    <ul class="list-inline text-center mx-auto" data-bind="foreach: router.navigationModel()">
        <li class="list-inline-item mx-2">
            <a class="btn btn-link" data-bind="attr: { href: hash, title: title }">
                <!-- ko if: isActive -->
                <img data-bind="attr: { src: icon + '-active.svg', alt: title }" />
                <!-- /ko  -->
                <!-- ko ifnot: isActive -->
                <img data-bind="attr: { src: icon + '.svg', alt: title }" />
                <!-- /ko  -->
            </a>
        </li>
    </ul>
</nav>